.products {
  margin: 2rem auto;
  max-width: 40rem;
}

.productBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.categories {
  display: flex;
  align-items: flex-end;
  float: right;
}

.categories li {
  margin: 0 0.5rem;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
}

.item a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

.item img {
  width: 33%;
  object-fit: cover;
}

.content {
  padding: 1rem;
}
.item h2 {
  margin: 0 0 1rem 0;
}
